<div class="tab-pane fade show active" id="show-image-item" role="tabpanel" aria-labelledby="home-tab">
  <div class="row">
    <% for( let i = 0; i < item.imageId.length; i++ ) { %>
    <div class="col-md-4">
      <div class="card shadow mb-4 mt-2">
        <div class="card-body">
          <img src="https://admin-liburanyuk.herokuapp.com/<%= item.imageId[i].imageUrl %> " style="width: 100%;"
            alt="image-<%= item.imageId[i]._id%>">
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <a href="/admin/item" class="btn btn-sm btn-warning"><i class="fas fa-long-arrow-alt-left fa-2x"></i></a>
</div>